<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
</head>
<body>
<!--pay attention to form action and method!!!-->
    <form action="/posts/create" method="post">
        <label for="title">Blog Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="body">Blog Body:</label><br>
        <input type="text" id="body" name="body"><br><br>
        <input type="submit" value="Submit">
<!--text area would be better for text input-->
    </form>
</body>
</html>