<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/post-partials.html :: head ('Search Form')"><title>Search for username</title></head>
<body>
<nav th:replace="partials/post-partials.html :: bootstrap-nav('Blog-N Thoughts')"></nav>
  <form th:action="@{|/posts/${post.user.username}/search|}" method="post" th:object="${post}">
    <label for="searchWord">Please enter a username to search:</label><br>
    <input type="text" id="searchWord" name="SearchWord"><br>
    <button type="submit">Submit</button>
  </form>

<div th:if="${post.user}" th:object="${post.user}">
  <p th:text="${post.user.username}"></p>
  <p th:text="${post.body}"></p>
  <p th:text="${post.user.email}"></p>
</div>
<p th:unless="${user.username}">Could not find anyone by that username</p>

<script th:replace="partials/post-partials.html :: scripts"></script>
</body>
</html>