<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
  <form th:action="@{/posts/user-login}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="title"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="body"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="body"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>