body {
    background-image: url("images/AdobeStock_404294498.jpeg");
    font-family: "Verdana", "Arial Black", "Times New Roman";
    opacity: 80%;
}


nav {
    text-align: center;
    opacity: 70%;
    border-color: chartreuse;
}